*{
    box-sizing: border-box;
}
.navbar{
display: flex;
background-color: rgb(255, 255, 255);
border-radius: 30px;
height:45px;
margin-top: 5px;

}
.navbar a{
    position: relative;
    left: 600px;
    top: 2px;
    margin: 15px;
    text-decoration: none;
    color: black;
}
.heading{
    position: relative;
    left: 40px;
    
}
.navbar a:hover{
background-color: #ddd;
color: rgb(0, 0, 0);
}
.img1{
    position: relative;
    left: 625px;
    height: 23px;
    top: 12px;
}
.img2{
    position: relative;
    left: 665px;
    height: 26px;
    top: 8px;
}
.img3{
    height: 400px;
    width: 640px;
    border-radius: 40px;
}
.side1{
    display: flex;
    flex: 50%;
}
.side2{
    flex: 50%;
}
.edit1{
    margin-left: 110px;
    position: relative;
    top: 80px;
    
}
.edit2{
    margin-left: 110px;
    position: relative;
    top: 80px;
    margin-right: 80px;
}
.a1{
    display: flex;
    flex: 50%;
    
}
.a2{
    flex:50%;
}
.img4{
    height: 400px;
    width: 640px;
    border-radius: 40px;
}
.edit3{
    left: 65px;
    position: relative;
    top: 80px;
    width: 500px;
    height: 50px;
}
.edit4{
    right: 140px;
    position: relative;
    top: 150px;
   height: 120px;
}
.edit5{
    text-align: center;
    position: relative;
    top: 30px;
}
.edit6{
    text-align: center;
    position: relative;
    top: 15px;
}
.img11{
height: 190px;
position: relative;
left: 130px;
top: 55px;
width: 190px;
margin: 10px;
}
.second{
display: block;
}
.end{
position: relative;
top: 90px;
background-color: #ddd;
height: 240px;
}
.end1{
margin-left: 100px;
position: relative;
top: 30px;
}
.mail{
position: relative;
left: 100px;
width: 500px;
top: 30px;
}
.button1{
height: 30px;
width: 150px;
border: 0px solid black;
position: relative;
left: 140px;
border-radius: 20px;
background-color: rgb(53, 123, 204);
color: rgb(255, 255, 255);
top: 30px;
}
.pic1{
height: 15px;
position: relative;
left: 95px;
top: 25px;
}
.pic2{
height: 15px;
position: relative;
left: 105px;
top: 25px;
}
.pic3{
height: 15px;
position: relative;
left: 115px;
top: 25px;
}
.sub4{
background-color: rgb(179, 169, 169);
padding: 30px;
margin-top: 100px;
position: relative;
height: 300px;
}
h2{
margin-top: 10px;
position: relative;
left: 20px;
}
.sub5{
width: 500px;
height: 2px;
border-radius: 10px;
background: #000;
margin-top: 5px;
}
button{
position: absolute;
left: 45%;
top: 50%;
width: 130px;
height: 30px;
background-color: rgb(18, 151, 228);
border-radius: 10px;
color: #fff;
font-size: 10px;
border: 0px solid black;
}
.sub6{
margin-top: 1%;
}
.img5{
height: 18px;
}
.sub7{
display: inline;
position: relative;
padding: 5px;
}
.h6{
position: relative;
top: 110px;
right: 20px;
}
.h7{
position: relative;
top: 70px;
width: 100px;
left: 1070px;
}
.h8{
position: relative;
top: 32px;
width: 100px;
left: 1150px;
}
.but1{
height: 35px;
position: relative;
top: 170px;
}
.but{
position: relative;
right: 180px;
}